.hero_section_left {
  flex: 1.5;
}

.hero_section_left_container {
}

.hero_section_left_title {
}
.hero_section_left_title p {
  color: #1d2939;
  font-family: "Inter";
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -0.08rem;
}

.hero_section_left_description {
}
.hero_section_left_description p {
  margin-top: 3rem;
  color: #667085;
  font-family: "Inter";
  font-size: 2rem;
  font-weight: 400;
}

.hero_section_left_free_trial_container {
  margin-top: 3rem;
  width: 80%;
  gap: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: flex-start;
}
.hero_section_left_free_trial_container button {
  cursor: pointer;
  border-radius: 6.25rem;
  background: #175cd3;
  border: none;
  color: #fff;
  font-family: "Inter";
  padding: 1rem 1.75rem;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.hero_section_left_free_trial_container button:hover {
  background: #0e3679;
  color: #fff;
  transition: all ease-out 0.4s;
}

.hero_section_left_free_trial_container_ai_assistant {
  display: flex;
  width: 51%;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  cursor: pointer;
  color: #175cd3;

  color: #175cd3;
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 600;
}

.hero_section_left_reviews_container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.hero_section_left_reviews {
  /* display: flex; */
}

.hero_section_left_reviews_star_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.hero_section_left_reviews_star_icons span {
  color: #344054;
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 600;
}

.hero_section_left_reviews_number {
  color: #475467;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 500;
}
