.about_section {
  width: 100%;
  margin-top: 20%;
  height: 90vh;
}

.about_section_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_section_container {
  width: 90%;
}

.about_section_container_title p:nth-of-type(1) {
  color: #175cd3;
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.about_section_container_title h2 {
  color: #1d2939;
  font-family: "Inter";
  font-size: 3rem;
  font-weight: 600;
}

.about_section_container_title p:nth-of-type(2) {
  color: #667085;
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 400;
}

.about_section_container_body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

.about_section_container_body_left {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 82%;
}

.about_section_left_content_container {
  width: 48%;
}

.about_section_left_content_container img {
  cursor: pointer;
  padding: 1rem;
  border-radius: 6.25rem;
  border: 1px solid #eaecf0;
  background: #f9fafb;
}

.about_section_left_content_container {
  color: #475467;
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 400;
}

.about_section_container_body_right {
  position: relative;
}
.about_section_container_body_right img {
  width: 100%;
  height: auto;
}

.hand_drawn_arrow {
  position: absolute;
  transform: translate(85%, -122%);
}
