.samples_wrapper {
  width: 100%;
  margin-top: 10%;
}

.samples_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.samples_sub_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
