* {
  box-sizing: border-box;
}

nav {
  width: 100%;
  cursor: pointer;
}

.navbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8rem;
}

.navbar_container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-radius: 6.25rem;
  border: 1px solid #d0d5dd;
  background: #f2f4f7;
}

.navbar_container .navbar_container_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.62rem;
}

.navbar_container .navbar_container_services {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.navbar_container_services_products,
.navbar_container_services_solutions,
.navbar_container_services_resources {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #667085;
  font-family: "Inter";
  font-size: 1.125rem;
  font-weight: 600;
}

.navbar_container_services_products span,
.navbar_container_services_solutions span,
.navbar_container_services_resources span {
  font-family: "Inter";
  width: 1.125rem;
  height: 1.125rem;
}

.navbar_container_services_pricing {
  color: var(--Gray-500, #667085);
  font-family: "Inter";
  font-size: 1.125rem;
  font-weight: 600;
}

.navbar_container_buttons {
  display: flex;
  gap: 0.5rem;
  font-family: "Inter";
}
.navbar_container_button1,
.navbar_container_button2 {
  padding: 0.875rem 1.5rem;
  gap: 0.25rem;
  cursor: pointer;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  border: none;
}

.navbar_container_button1 {
  border-radius: 6.25rem;
  border: 1px solid, #98a2b3;
  background: #fff;
  color: #101828;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.navbar_container_button1:hover {
  background: #175cd3;
  color: #fff;
  transition: all ease 0.4s;
}

.navbar_container_button2 {
  color: #fff;
  border-radius: 6.25rem;
  background: #175cd3;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.navbar_container_button2:hover {
  color: #101828;
  background: #fff;
  transition: all ease 0.4s;
}

/* Navbar responsive  */
/* .mobile_nav {
  width: 100%;
  display: none;
}
.mobile_nav_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile_nav_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 6.25rem;
  border: 1px solid #d0d5dd;
  background: #f2f4f7;
}

.mobile_nav_menu_items_container {
  background-color: red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
}

.mobile_nav_menu_items {
  background: #00000080;
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  transition: all 300ms linear;
  color: #ffff;
}

@media screen and (max-width: 930px) {
  .navbar_wrapper {
    display: none;
  }

  .mobile_nav {
    display: block;
  }
} */

.mobile_nav {
  width: 100%;
  display: none;
}

.mobile_nav_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile_nav_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 6.25rem;
  border: 1px solid #d0d5dd;
  background: #f2f4f7;
}

.mobile_nav_menu_items_container {
  height: 100vh;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.mobile_nav_menu_items {
  position: relative;
  background: #00000080;
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  transition: all 300ms linear;
  color: #ffffff;
}
.mobile_nav_menu_items_times {
  position: absolute;
  color: #175cd3;
  top: 1rem;
  right: 32%;
  font-size: 1.6rem;
}

@media screen and (max-width: 930px) {
  .navbar_wrapper {
    display: none;
  }

  .mobile_nav {
    display: block;
  }
}
